---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout title="Welcome to Astro." description="Hi!">
	<main>
		<h1>How well</h1>
	</main>
</Layout>

<style lang="scss">
	
</style>
