@import 'global';

main {
    h1 {
        text-align: center;
    }
    ul.tests {
        list-style-type: none;
        li {
            margin: 0.5em;
            padding: 0.5em;
            border-radius: 0.5em;
            &.passed {
                background: #28a745;
                color: #fff;
            }
            &.failed {
                background: #dc3545;
                color: #fff;
            }
            &.partial {
                background: yellow;
                color: #000;
            }
            &.unknown {
                background: #6c757d;
                color: #fff;
            }
        
        }
    }
}